.navbar-default {
  border-color: #006633;
  border-style: solid;
}
.navbar-default .navbar-text {
  color: #006633;
}
.navbar-default .navbar-nav > li > a {
  color: #006633;
  border-color: #006633;
  border-style: solid;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #006633;
  border-color: #006633;
  border-style: solid;
  background-color: transparent;
  outline: 0;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  border-color: #006633;
  border-style: solid;
  background-color: #006633;
  outline: 0;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent;
  color: #006633;
  border-color: #006633;
  border-style: solid;
}
.nav-tabs,
.nav-tabs > li,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border-color: #006633;
  border-style: solid;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #006633;
}
  
a,
a:hover,
a:focus {
  color: #006633;
}

/* changing color of sliders */
.irs-bar {
  border-top: 1px solid #006633;
  border-bottom: 1px solid #006633;
  background: #006633;
}
.irs-bar-edge {
  border: 1px solid #006633;
  background: #006633;
}
.irs-from, .irs-to, .irs-single {
    background: #006633;
}
.irs-grid-pol {
    background: #006633;
}

.shiny-progress .bar {
  background: #006633;
}
.shiny-progress .progress-text {
  background-color: #fff;
  color: #006633;
}
